.page-header {
    text-align: center;
    font-family: Arial;
    background-color: #ffffff;
    color: rgb(0, 107, 194);
}

.box {
    width: 600px;
    height: fit-content;
    border: 15px ;
    padding: 20px ;
    background-color: rgb(0, 107, 194);
    color: white;
    margin: auto;
    border-radius: 20px;
    text-align: left;
}

input[type=submit] {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.646);
  color: rgb(0, 107, 194);
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=text] {
    width: 300px;
}

a {
    color: rgb(0, 191, 255);
}